<!-- https://report-uri.com/home/generate -->
<!-- Modifying this adding [script-src: 'unsafe-eval'] for PageFind WASM etc. -->
<meta http-equiv='Content-Security-Policy' content="script-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; object-src 'none'; base-uri 'none'">
<!-- Also using this hook to add additional resources -->
{{ $js := resources.Get "js/pretty-json.js" }}
{{ with $js }}
  {{ $js := . | minify | fingerprint "sha512" -}}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ end }}
{{ $css := resources.Get "bootstrap-icons/font/bootstrap-icons.min.css" }}
{{ with $css }}
  {{ $css := . | fingerprint "sha512" -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $js.Data.Integrity }}">
{{ end }}

