{{ define "main" }}

<div class="container py-3">
    <h1 class="text-primary">{{ .Title }}</h1>

    <p>{{ .Params.description }}</p>

    {{ .Content }}

{{- $threat_classes := slice  "Organisational" "Complexity" "Content" "Technological" -}}
{{- $tax := $.Site.GetPage "taxonomyTerm" "threats" -}}
{{- $s := newScratch -}}

{{ range $i, $class := $threat_classes }}

{{ if $i }}<hr>{{ end }}
<h2 class="text-primary">{{ $class }} {{ $.Title }}</h2>
{{- $definition :=  (printf "%s-threats-description" ($class | lower )) -}}
<p>{{ T $definition }}</p>
<div class="row mb-3">
    {{ range (where $tax.Pages ".Params.class" "eq" $class ) }}
        {{ partial "grouping-card" . }}
    {{ end }}
</div>


{{ end }}



</div>
{{ end }}
