{{ define "main" }}

<div class="container py-3">

  <h1 class="text-primary">{{ .Title }}</h1>

  <p>{{ .Params.description }}</p>

  {{ .Content }}

  {{ with .Pages }}
  <div class="row mb-3">
    {{ range .ByTitle }}
        {{ partial "grouping-card" . }}
    {{ end }}
  </div>
  {{ end }}

  {{ if eq .Section "categories" }}
    {{ $entries := ( where .Site.Pages "Section" "entries" ) }}
    {{ $pages := ( where $entries "Params.categories" "intersect" (slice .Params.title ) ) }}
    <div class="row mb-3 clearfix">
      {{ range $pages.ByTitle }}
      {{ partial "entry-card" . }}
      {{ end }}
    </div>
  {{ end }}

</div>
{{ end }}
