{{ define "main" }}

<div class="container py-3" data-pagefind-body >

  <h1>{{ .Title }}</h1>

  {{ partial "species-summary" . }}
  
  <h2>Metadata</h2>
  <pretty-json data-pagefind-filter="{{- range .Params.categories -}}{{ T "genus" }}:{{ T . }} {{- end -}}">
  {{ .Params | jsonify (dict "indent" "  ") }}
  </pretty-json>

  <h2>Discussion</h2>
  <details open class="m-2">
    <summary>{{ T "contents" }}</summary>
    {{ .TableOfContents }}
  </details>

  {{ .Content }}

  {{ with index (.Params.aliases) 0 }}
  <a class="btn btn-sm btn-secondary" target="_blank" href="https://www.dpconline.org{{ . }}">
    Click Here To Open The Current Live Page For This Entry On The DPC Website
  </a>
  {{ end }}

</div>

{{ end }}