{{ define "main" }}

{{ $cat_name := index .Params.categories 0 }}
{{ $cat := .GetPage ( printf "genus/%s" $cat_name ) }}
{{ $status := .GetPage ( printf "status/%s" .Params.status ) }}

<div class="container py-3" data-pagefind-body>

  <div class="species-header p-1 clearfix" data-pagefind-filter="{{ T "status" }}:{{ $status.Params.title }}">
    
    <div class="float-end p-2">
    {{ .Store.Set "imageSize" "150x" }}{{ partial "status-img" .Params }}
    </div>

    <h1>{{ .Title }}</h1>  
    <p>{{ .Params.description }}</p>
  
    <h2>Examples</h2>
    <p>{{ .Params.examples }}</p>
  </div>

  <div class="species-factsheet container p-3 pt-2 text-center overflow-hidden">
  <div class="row bg-primary">
      <div class="col-6 col-sm-4 text-dark bg-primary-subtle p-2">
        <div class="d-flex justify-content-center align-items-center">
          <h3 data-pagefind-filter="{{ T "genus" }}:{{ $cat.Params.title }}">{{ $cat.Params.title }}</h3>
        </div>
        <div class="d-flex justify-content-center align-items-center">
        {{ $path := printf "images/genus/%s.png" $cat_name  }}
        {{ with resources.Get $path }}
          {{ with .Resize "x80" }}
            <a href="{{ $cat.RelPermalink }}" title="{{ $cat.Params.title }}">
              <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $cat.Params.title }}">
            </a>
          {{ end }}
        {{ end }}
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <h3>Added to list: {{ index .Params "year-added" }}</h3>
        </div>
      </div>
      <!-- Threats -->
      <div class="col-6 col-sm-4 text-dark bg-warning pt-2">
        <h3>Threats<br>
        {{ .Params.threat }}
        </h3>
      </div>
      <!-- Imminence -->
      <div class="col-12 col-sm-4 text-light bg-danger pt-2">
        <h3>Imminence</h3>
        <p>{{ T ( printf "imminence-%d" .Params.imminence ) }}</p>
      </div>
    </div>
    <div class="row p-0">
      <div class="col-12 col-sm-6 p-0" >
        {{ with index .Params "status-at-risk"}}
        <div class="p-3 h-100 text-dark bg-danger" style="--bs-bg-opacity: .1;">
          {{ $status := page.GetPage ( printf "status/%s" .status ) }}
        <h3 class="mb-2 text-center">Hazards</h3>
        <p>{{ .reasons }}</p>
        </div>
        {{ end }}
        </div>
      <div class="col-12 col-sm-6 p-0">
        {{ with index .Params "status-in-care"}}
        <div class="p-3 h-100 text-dark bg-success" style="--bs-bg-opacity: .1;">
          {{ $status := page.GetPage ( printf "status/%s" .status ) }}
        <h3 class="mb-2 text-center">Mitigations</h3>
        <p>{{ .reasons }}</p>
        </div>
        {{ end }}
        </div>
      <!-- Effort -->
      <div class="col-12 col-sm-4 text-light bg-primary pt-2">
        <h3>Effort</h3>
        <p>{{ T ( printf "effort-%d" .Params.effort ) }}</p>
      </div>
      <!-- Trends -->
      <div class="col-6 col-sm-4 text-dark p-0">
        {{ $tc := ( dict "no-change" "bg-warning-subtle" "towards-greater-risk" "bg-danger-subtle" ) }}
        {{ range first 2 .Params.trends }}
        <div class="h-50 {{ index $tc .trend }} d-flex justify-content-center align-items-center p-1">
          <div>
            <h3>Trend in {{ .year }}</h3>
            <div>{{.trend}}</div>
          </div>
        </div>
        {{ end }}
      </div>
      <!-- Previously -->
      <div class="col-6 col-sm-4 p-0">
        <div class="h-100 d-flex justify-content-center align-items-center text-white bg-secondary">
          <div>
            <h3>Previously</h3>
            {{ index .Params "previous-status" }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <p class="float-end">
  {{ $edit_url := printf "admin/#/collections/species/entries/%s/index" ( path.BaseName .Path ) }}
  <a href="{{ .Site.BaseURL }}{{ $edit_url }}" target="_blank" class="btn btn-sm btn-primary">Edit This Entry</a>
  </p>

  <div class="species-content p-1">
    <details class="m-2">
  
      <summary><h2 class="align-middle" style="display: inline-block;">Discussion</h2></summary>
    
      {{ .TableOfContents }}

      {{ .Content }}

  {{ with index (.Params.aliases) 0 }}
  <p>
  <a class="btn btn-sm btn-secondary" target="_blank" href="https://www.dpconline.org{{ . }}">
    Click Here To Open The Current Live Page For This Entry On The DPC Website
  </a>
  {{ end }}
  </p>

    </details>
  </div>

  <hr>
  <details data-pagefind-ignore>
  <summary><b>Raw Metadata</b></summary>
  <pretty-json>
  {{ .Params | jsonify (dict "indent" "  ") }}
  </pretty-json>
  </details>
  <hr>

</div>

{{ end }}