{{ define "main" }}

{{ $cat_name := index .Params.categories 0 }}
{{ $cat := .GetPage ( printf "categories/%s" $cat_name ) }}
{{ $classification := .GetPage ( printf "classification/%s" .Params.classification ) }}

<div class="container py-3" data-pagefind-body>

  <div class="species-header clearfix" data-pagefind-filter="{{ T "classification" }}:{{ $classification.Params.title }}">
    
    <div class="float-end p-1">
    {{ .Store.Set "imageSize" "150x" }}{{ partial "classification-img" .Params }}
    </div>

    <h1>{{ .Title }}</h1>  
    <p>{{ .Params.description }}</p>
  
    <h2>Examples</h2>
    <p>{{ .Params.examples }}</p>
    
  </div>

<div class="species-factsheet container mb-3 text-center overflow-hidden border border-primary">
  <div class="row bg-primary">
      <div class="col-6 col-sm-4 text-dark bg-primary-subtle p-2">
        <div class="d-flex justify-content-center align-items-center">
          <h3 data-pagefind-filter="{{ T "category" }}:{{ $cat.Params.title }}">{{ $cat.Params.title }}</h3>
        </div>
        <div class="d-flex justify-content-center align-items-center">
        {{ $path := printf "images/category/%s.png" $cat_name  }}
        {{ with resources.Get $path }}
          {{ with .Resize "x80" }}
            <a href="{{ $cat.RelPermalink }}" title="{{ $cat.Params.title }}">
              <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $cat.Params.title }}">
            </a>
          {{ end }}
        {{ end }}
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <h3>Added to list: {{ index .Params "year-added" }}</h3>
        </div>
      </div>
      <!-- Threats -->
      <div class="col-6 col-sm-4 text-dark bg-warning pt-2">
        <h3>Threats<br>
        {{ .Params.threats }}
        </h3>
      </div>
      <!-- Imminence -->
      <div class="col-12 col-sm-4 text-light bg-danger pt-2">
        <h3>Imminence</h3>
        <p class="mb-2">{{ T ( printf "imminence-%d" .Params.imminence ) }}</p>
        <p>{{ range .Params.imminence }}<i class="bi bi-circle-fill"></i>{{end}}{{ range (sub 5 .Params.imminence ) }}<i class="bi bi-circle"></i>{{end}}</p>
      </div>
    </div>
    <div class="row p-0">
      <div class="col-12 col-sm-6 p-0" >
        <div class="p-3 h-100 text-dark bg-danger-subtle">
        <h3 class="mb-2 text-center">Hazards</h3>
        <p>{{ .Params.hazards }}</p>
        </div>
        </div>
      <div class="col-12 col-sm-6 p-0">
        <div class="p-3 h-100 text-dark bg-success-subtle">
        <h3 class="mb-2 text-center">Mitigations</h3>
        <p>{{ .Params.mitigations }}</p>
        </div>
        </div>
      <!-- Effort -->
      <div class="col-12 col-sm-4 text-light bg-primary">
        <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="pt-3">
        <h3>Effort</h3>
        <p class="mb-2">{{ T ( printf "effort-%d" .Params.effort ) }}</p>
        <p class="mb-3">{{ range .Params.effort }}<i class="bi bi-circle-fill"></i>{{end}}{{ range (sub 5 .Params.effort ) }}<i class="bi bi-circle"></i>{{end}}</p>
        </div>

        </div>
      </div>
      <!-- Trends -->
      <div class="col-6 col-sm-4 text-dark p-0">
        {{ $tc := ( dict "no-change" "bg-warning-subtle" "towards-greater-risk" "bg-danger" "material-improvement" "bg-primary" ) }}
        {{ $tf := ( dict "no-change" "text-dark" "towards-greater-risk" "text-light" "material-improvement" "text-light" ) }}
        {{ with index .Params "trends" }}
        {{ range first 2 ( sort . "year" "desc" ) }}
        <div class="h-50 {{ index $tc .trend }} {{ index $tf .trend }} justify-content-center align-items-center p-1">
          <div>
            <h3 class="mb-2">Trend in {{ .year }}</h3>
            <p class="mb-2">{{ T .trend}}</p>
            <h3 class="mb-2">
            {{ if eq .trend "towards-greater-risk"}}<i class="bi bi-arrow-up-right"></i>{{end}}
            {{ if eq .trend "no-change"}}<i class="bi bi-arrow-right"></i>{{end}}
            {{ if eq .trend "material-improvement"}}<i class="bi bi-arrow-down-right"></i>{{end}}
            </h3>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
      <!-- Previously -->
      <div class="col-6 col-sm-4 p-0">
        <div class="h-100 d-flex justify-content-center align-items-center text-dark bg-light">
          <div>
            <h3 class="pb-2">Previously</h3>
        {{ with index .Params "trends" }}
          {{ range last 1 (first 2 ( sort . "year" "desc" )) }}
            {{ $.Store.Set "imageSize" "100x" }}
            {{ partial "classification-img" . }}
          {{ end }}
        {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <p class="float-end p-1">
  {{ $edit_url := printf "admin/#/collections/species/entries/%s/index" ( path.BaseName .Path ) }}
  <a href="{{ .Site.BaseURL }}{{ $edit_url }}" target="_blank" class="btn btn-sm btn-primary">Edit This Entry</a>
  </p>

  <div class="species-discussion">
    <details class="p-1">
  
      <summary><h2 class="align-middle" style="display: inline-block;">Discussion</h2></summary>
    
      {{ .TableOfContents }}

      {{ .Content }}

    </details>
  </div>

      {{ with index .Params.comments }}
    <div class="species-discussion">
    <details class="p-1">
  
      <summary><h2 class="align-middle" style="display: inline-block;">Additional Comments</h2></summary>
    
      {{ . | markdownify }}

    </details>
  </div>
      {{ end }}

  {{ with index .Params "case-studies" }}
  <div class="species-case-studies">
    <details class="p-1">
  
      <summary><h2 class="align-middle" style="display: inline-block;">Case Studies & Examples</h2></summary>
    
      <ul>
        {{ range .}}
        <li>{{with .comment}}{{ . | markdownify }} See {{end}}<a href="{{.url}}"><b>{{ .title }}</b></a>, {{ .authors }} ({{.year}}), <i>{{ .publisher }}</i>{{ with index . "accessed"}} [accessed at {{.}}]{{end}}.</li>
        {{ end }}
      </ul>

    </details>
  </div>
  {{ end }}

  <hr>
  <details data-pagefind-ignore>
  <summary><b>Raw Metadata</b></summary>
  <pretty-json>
  {{ .Params | jsonify (dict "indent" "  ") }}
  </pretty-json>
  </details>

  {{ with index (.Params.aliases) 0 }}
  <p class="mt-2">
  <a class="btn btn-sm btn-secondary" target="_blank" href="https://www.dpconline.org{{ . }}">
    Click Here To Open The Current Live Page For This Entry On The DPC Website
  </a>
  {{ end }}
  </p>

  <hr>

</div>

{{ end }}