{{ define "main" }}


<div class="container py-3" data-pagefind-body>

  {{ partial "entry-info.html" . }}

  <hr>

  <p class="float-end p-1">
  <a class="btn btn-sm btn-primary" href="mailto:info@dpconline.org?subject={{ printf "Please keep me informed about this Bit List entry: %s" .Title | safeHTMLAttr }}">Keep Me Informed</a>
  </p>
  {{ $edit_url := printf "admin/#/collections/entries/entries/%s/index" ( path.BaseName .Path ) }}
  <a href="{{ .Site.BaseURL }}{{ $edit_url }}" target="_blank" class="btn btn-sm btn-light" title="Edit this entry (DPC staff and Bit List team members only.)"><i class="bi bi-pencil-square"></i></a>

</div>

{{ end }}