{{ define "main" }}


<div class="container py-3">

  <div class="entries-header clearfix">
    <div class="float-end p-1">
      {{ $cd := dict "classification" .Params.id }}
    {{ .Store.Set "imageSize" "150x" }}{{ partial "classification-img" $cd }}
    </div>

    <h1>{{ .Title }}</h1>  

    {{ .Content }}

    <ul>
    {{ range (where .Site.Pages "Section" "entries") }}
      {{ range .Pages }}
        {{ if eq .Params.classification $.Params.id }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}
    </ul>
    
  </div>

</div>

{{ end }}