{{ define "main" }}

<div class="container py-3">

    {{ if eq .Kind "taxonomy" }}
      <div class="row mb-3">
            {{ if .Site.Params.options.listCategoryFilter }}
                <div class="col-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="feather me-2"><use href="{{ `images/feather/feather-sprite.svg#folder` | relURL }}"/></svg>
                    {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages.ByTitle }}
                        <a class="badge text-bg-light nav-link" href="{{.RelPermalink}}">{{.Title}}</a>&nbsp;
                    {{end}}
                </div>
            {{ end }}

            {{ if .Site.Params.options.listTagFilter }}
                <div class="col-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="feather me-2"><use href="{{ `images/feather/feather-sprite.svg#tag` | relURL }}"/></svg>
                    {{range ($.Site.GetPage "taxonomyTerm" "tags").Pages.ByTitle }}
                        <a class="badge text-bg-light nav-link" href="{{.RelPermalink}}">{{.Title}}</a>&nbsp;
                    {{end}}
                </div>
            {{ end }}
      </div>

      <h1>{{ .Title }}</h1>

      {{ .Content }}

      By count...
      
      <div class="row mb-3">
        {{ range .Data.Terms }}
        <div class="col-auto">
            {{ if eq $.Title "Tags" }}
            <svg xmlns="http://www.w3.org/2000/svg" class="feather me-2"><use href="{{ `images/feather/feather-sprite.svg#tag` | relURL }}"/></svg>
            {{ else }}
            <svg xmlns="http://www.w3.org/2000/svg" class="feather me-2"><use href="{{ `images/feather/feather-sprite.svg#folder` | relURL }}"/></svg>
            {{ end }}
            <a class="badge text-bg-light nav-link" href="{{.Page.RelPermalink}}">{{.Page.LinkTitle}} ({{ .Count }})</a>&nbsp;
        </div>
        {{end}}
      </div>

    {{ end }}

    {{ if ne .Kind "taxonomy" }}

      <h1>{{ .Title }}</h1>

      <p>{{ .Params.description }}</p>

      {{ .Content }}

    <div class="row mb-3">
        {{ range sort .Pages ".Params.title" }}
            {{ partial "entry-card" . }}
        {{ end }}
    </div>

    {{ end }}

</div>
{{ end }}
